.profile-content {
  margin-top: 4%;
}

.color-white {
  font-size: 30px;
  color: white;
}

.green-title {
  color: #35a376;
  padding: 1rem;
}

.first-name {
  font-family: "CorbelBoldItalic";
  font-size: 32px;
}

.update-component {
  margin-top: 5%;
}
