.tripincomecosts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}

.content-container {
  color: white;
}

.text-green {
  color: #35a376;
}

.text-red {
  color: #ff828e;
}

.costs-link:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.trip-dates-container {
  margin-bottom: 2%;
}
