.activetrip-wrap {
  margin-top: 7%;
  /* padding: 0.1rem; */
}

.activetrip-upper-container {
  position: relative;
  width: 41%;
  margin: 2% auto;
  padding: 3rem 0rem;
  border: 3px solid #35a376;
  border-radius: 10px;
}

.activetrip-upper-container:hover {
  cursor: pointer;
}

.activetrip-upper-container p {
  font-size: 30px;
  color: white;
}

.activetrip-tag {
  position: absolute;
  background-color: #35a376;
  color: white;
  padding: 0 5%;
  border-radius: 10px;
  top: -1.5rem;
  left: 50%;
  translate: -50%;
}

.activetrip-total-tag {
  position: absolute;
  background-color: #35a376;
  color: white;
  padding: 0.3rem 5%;
  border-radius: 10px;
  bottom: -1.5rem;
  left: 50%;
  translate: -50%;
}

.activetrip-lower-container {
  width: 41%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
}

.no-active-trip-wrap {
  position: relative;
  width: 35%;
  margin: 4% auto;
  padding: 1rem;
  border-top: 3px solid #35a376;
  border-radius: 10px;
}

.no-active-trip-wrap label {
  position: absolute;
  background-color: #35a376;
  color: white;
  padding: 0.3rem 5%;
  border-radius: 10px;
  top: -1.5rem;
  left: 50%;
  translate: -50%;
}

.no-active-trip-wrap button {
  margin-top: 10%;
}
