.filterdates-container {
  position: relative;
  white-space: break-spaces;
  border: 3px solid #35a376;
  border-radius: 10px;
  margin: 4% auto 2%;
  width: 60%;
}

.date-fields {
  display: flex;
  justify-content: space-between;
  /* padding-left: 0.7rem; */
}

.date-fields input {
  display: inline-block;
  width: 40%;
  padding: 2rem 0;
  background: none;
  border-style: none;
  color: white;
  text-align: center;
}

.fromdate-container {
  width: 50%;
}

.todate-container {
  width: 50%;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.filter-dates-tag {
  position: absolute;
  background-color: #35a376;
  color: white;
  padding: 0.2rem 1%;
  border-radius: 10px;
  translate: -50%;
  top: -1.5rem;
}

.no-trips-found {
  margin-top: 10%;
}

.filteredtrips-container {
  position: relative;
  width: 60%;
  margin: 5% auto;
  border: 3px solid#35a376;
  border-radius: 10px;
  padding: 4% 4%;
}

.tripsfound-tag {
  position: absolute;
  top: -1.5rem;
  translate: -50%;
  background-color: #35a376;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.average-tag {
  position: absolute;
  bottom: -1.3rem;
  left: 15%;
  color: white;
  background-color: #35a376;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.total-tag {
  position: absolute;
  bottom: -1.3rem;
  right: 15%;
  color: white;
  background-color: #35a376;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}
