.incomedetailspage-wrap {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: "CorbelBold";
  font-size: 30px;
  padding-bottom: 0.1rem;
}

.income-costs-container {
  margin: 4% auto 4%;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.income-container {
  position: relative;
  border: 3px solid #35a376;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  color: white;
  width: 40%;
  padding: 1rem 0 0.5rem;
}

.costs-container {
  position: relative;
  border: 3px solid #35a376;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  color: white;
  width: 40%;
  padding: 1rem 0 0.5rem;
}

.income-tag {
  width: 65%;
  background-color: #35a376;
  position: absolute;
  border-radius: 10px;
  top: -1.3rem;
  translate: -50%;
}

.costs-tag {
  width: 65%;
  background-color: #35a376;
  position: absolute;
  border-radius: 10px;
  top: -1.3rem;
  translate: -50%;
  color: #79242f;
}

.dates-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  margin-bottom: 1.5%;
}

.dates-container button {
  margin: auto;
  margin-right: 18.5%;
  height: 40px;
  padding: 0.1rem 1rem;
}

.dates-container span {
  color: #35a376;
}

.date-picker input {
  width: 72%;
  display: inline-block;
  padding: 2rem 0;
  background: none;
  border-style: none;
  color: white;
  text-align: center;
}

.no-trips-tag {
  color: #35a376;
  margin-bottom: 3%;
}

.filteredtotals-tag {
  color: white;
  margin-top: 2%;
}

.filtered-data-total-income-costs {
  display: flex;
  justify-content: space-around;
  font-family: "CorbelBold";
  margin-bottom: 5%;
}

.filtered-data-total-income-costs p {
  color: white;
}

.filtered-data-total-income-costs span {
  color: #35a376;
}
