.navBar {
  padding: 2rem 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar a {
  background: transparent;
  border: none;
  color: white;
  font-family: "CorbelBold";
  font-size: 30px;
  margin: 1rem;
}

.navBar a:hover {
  color: #35a376;
  cursor: pointer;
}

.navBar img {
  width: 10%;
}

.navBar li,
ul {
  list-style: none;
}
