.recenttrips-wrap {
  width: 60%;
  margin: 4% auto 5%;
}

.recenttrips-container {
  position: relative;
  border: 3px solid #35a376;
  border-radius: 10px;
  color: white;
  padding: 3% 10%;
  padding-bottom: 5%;
}

.trip-dates-container {
  display: flex;
  justify-content: space-between;
  white-space: break-spaces;
}

.trip-dates-container p {
  font-size: 24px;
  color: white;
}

.trip-dates-container span {
  color: #35a376;
}

.recent-trips-tag {
  position: absolute;
  background-color: #35a376;
  padding: 0.3rem 2%;
  border-radius: 10px;
  top: -1.5rem;
  translate: -50%;
}

.recenttrips-average-tag {
  position: absolute;
  background-color: #35a376;
  padding: 0.3rem 2%;
  border-radius: 10px;
  bottom: -1.5rem;
  left: 15%;
}

.recenttrips-total-tag {
  position: absolute;
  background-color: #35a376;
  padding: 0.3rem 2%;
  border-radius: 10px;
  bottom: -1.5rem;
  right: 15%;
}

.recenttrips-item {
  padding-bottom: 1rem;
  border-bottom: 1px solid #35a376;
  white-space: break-spaces;
}

.recenttrips-item span {
  color: #35a376;
}

.distance-costs-btn-container {
  display: flex;
  justify-content: end;
  margin: 1.2rem 0 0 0;
}

.costs-button-container {
  margin: 0 9% 0 22%;
  text-align: center;
  padding: 0.2rem 0;
}

.costs-button-container svg:hover {
  cursor: pointer;
  border-bottom: 1px solid #35a376;
}

.empty-costs-container {
  width: 34.5%;
  height: 3.5rem;
}
